@charset "UTF-8";
/*!
 * * Based on the Marp / Marpit Gaia theme.
 * *
 * * @theme umich
 * * @author Matt Raymond
 * * Based on a theme by Yuki Hattori
 * *
 * * @auto-scaling true
 * * @size 4:3 960px 720px */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
@import url("https://gitcdn.link/repo/m4ttr4ymond/marp-themes/master/global_assets/highlight/agate.css");
svg[data-marp-fitting=svg] {
  max-height: 580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p,
blockquote {
  margin: 1em 0 0 0;
}

ul > li,
ol > li {
  margin: 0.3em 0 0 0;
}
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0 0;
}

code {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;
}

pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible;
}
pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}
pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em);
}

blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
}
blockquote::after, blockquote::before {
  content: "“";
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  position: absolute;
}
blockquote::before {
  top: 0;
  left: 0;
}
blockquote::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
blockquote > *:first-child {
  margin-top: 0;
}

mark {
  background: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0;
}
table th,
table td {
  padding: 0.2em 0.4em;
  border-width: 1px;
  border-style: solid;
}

section {
  background-image: linear-gradient(135deg, rgba(136, 136, 136, 0), rgba(136, 136, 136, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
  font-size: 35px;
  font-family: "Roboto", "Avenir Next", "Avenir", "Trebuchet MS", "Segoe UI", sans-serif;
  height: 720px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 70px;
  width: 1280px;
  word-wrap: break-word;
  color: #00274C;
  background-color: #ffffff;
}
section > *:first-child,
section > header:first-child + * {
  margin-top: 0;
}
section a,
section mark {
  color: #c5ced3;
}
section code {
  background: #333;
  color: #fff;
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: #c5ced3;
}
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: #335270;
}
section table th,
section table td {
  border-color: #00274C;
}
section table thead th {
  background: #00274C;
  color: #ffffff;
}
section table tbody > tr:nth-child(odd) td,
section table tbody > tr:nth-child(odd) th {
  background: rgba(0, 39, 76, 0.1);
}
section.umich {
  color: #ffffff;
  background-color: #c5ced3;
}
section.umich a,
section.umich mark {
  color: #FFCB05;
}
section.umich code {
  background: #333;
  color: #fff;
}
section.umich h1 strong,
section.umich h2 strong,
section.umich h3 strong,
section.umich h4 strong,
section.umich h5 strong,
section.umich h6 strong {
  color: #FFCB05;
}
section.umich header,
section.umich footer,
section.umich section::after,
section.umich blockquote::before,
section.umich blockquote::after {
  color: #f3f5f6;
}
section.umich table th,
section.umich table td {
  border-color: #ffffff;
}
section.umich table thead th {
  background: #ffffff;
  color: #c5ced3;
}
section.umich table tbody > tr:nth-child(odd) td,
section.umich table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}
section.title {
  background-image: url("https://gitcdn.link/repo/m4ttr4ymond/marp-themes/master/themes/umich/assets/bbbb_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #00274C;
}
section.title a,
section.title mark {
  color: #FFCB05;
}
section.title code {
  background: #333;
  color: #fff;
}
section.title h1 strong,
section.title h2 strong,
section.title h3 strong,
section.title h4 strong,
section.title h5 strong,
section.title h6 strong {
  color: #FFCB05;
}
section.title header,
section.title footer,
section.title section::after,
section.title blockquote::before,
section.title blockquote::after {
  color: #ccd4db;
}
section.title table th,
section.title table td {
  border-color: #ffffff;
}
section.title table thead th {
  background: #ffffff;
  color: #00274C;
}
section.title table tbody > tr:nth-child(odd) td,
section.title table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}
section.title h1 {
  margin-bottom: 15%;
}
section.subheadder {
  justify-content: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #00274C;
}
section.subheadder a,
section.subheadder mark {
  color: #FFCB05;
}
section.subheadder code {
  background: #333;
  color: #fff;
}
section.subheadder h1 strong,
section.subheadder h2 strong,
section.subheadder h3 strong,
section.subheadder h4 strong,
section.subheadder h5 strong,
section.subheadder h6 strong {
  color: #FFCB05;
}
section.subheadder header,
section.subheadder footer,
section.subheadder section::after,
section.subheadder blockquote::before,
section.subheadder blockquote::after {
  color: #ccd4db;
}
section.subheadder table th,
section.subheadder table td {
  border-color: #ffffff;
}
section.subheadder table thead th {
  background: #ffffff;
  color: #00274C;
}
section.subheadder table tbody > tr:nth-child(odd) td,
section.subheadder table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}
section.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
section.lead h1,
section.lead h2,
section.lead h3,
section.lead h4,
section.lead h5,
section.lead h6 {
  text-align: center;
}
section.lead h1 svg[data-marp-fitting=svg],
section.lead h2 svg[data-marp-fitting=svg],
section.lead h3 svg[data-marp-fitting=svg],
section.lead h4 svg[data-marp-fitting=svg],
section.lead h5 svg[data-marp-fitting=svg],
section.lead h6 svg[data-marp-fitting=svg] {
  --preserve-aspect-ratio: xMidYMid meet;
}
section.lead p {
  text-align: center;
}
section.lead blockquote > h1,
section.lead blockquote > h2,
section.lead blockquote > h3,
section.lead blockquote > h4,
section.lead blockquote > h5,
section.lead blockquote > h6,
section.lead blockquote > p {
  text-align: left;
}
section.lead blockquote svg[data-marp-fitting=svg]:not([data-marp-fitting-math]) {
  --preserve-aspect-ratio: xMinYMin meet;
}
section.lead ul > li > p,
section.lead ol > li > p {
  text-align: left;
}
section.lead table {
  margin-left: auto;
  margin-right: auto;
}

header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute;
}

header {
  left: 0;
  right: 0;
  top: 0;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
}

section::after {
  right: 0;
  bottom: 0;
  font-size: 80%;
}